.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  max-width: 425px;
}
.navbar-wrapper-background {
  background-color: rgba(156,39,176,0.5);
  background: url("../images/remote.jpg");
  height: 135px;
  width: 100%;
  background-position: left;
}
.navbar-wrapper-point {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  color: #fff;
}
.navbar-wrapper-point span {
  margin-right: 5px;
}
.navbar-wrapper-point-span {
  background-color: #cecece;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  color: #fff;
}
.navbar-wrapper-rgba {
  height: 100%;
  background: rgba(156,39,176,0.5);
}
.navbar-wrapper-content {
  height: 50%;
}
.navbar-wrapper-content-under {
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.navbar-wrapper-content-text {
  height: 65px;
  display: flex;
  align-items: flex-end;
}
.navbar-wrapper-content-text p {
  color: #fff;
  margin-bottom: 8px;
}
.navbar-wrapper-arrow {
  font-size: 30px;
}
.navbar-wrapper-content-under-icon {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.icon-bg {
  width: 40px;
  height: 40px;
  background-color: #f00;
  border-radius: 20px;
  position: absolute;
  bottom: -19px;
}
.icon-vert {
  width: 4px;
  height: 19px;
  background-color: #fff;
  position: relative;
  top: 9px;
  right: 0;
}
.icon-hori {
  width: 19px;
  height: 4px;
  background-color: #fff;
  position: relative;
  right: 11px;
  top: 2px;
}
i {
  color: #fff;
}
.main-wrapper-word {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.main-wrapper-word p {
  margin-bottom: 0;
  color: #c9c9c9;
}
.main-wrapper-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.main-wrapper-box-span {
  width: 25px;
  height: 25px;
  border: 1px solid #e5e8ef;
  background-color: #f9fafc;
  border-radius: 3px;
}
.main-wrapper-text {
  font-size: 13px;
  height: 100%;
}
.main-wrapper-text .first {
  font-weight: 600;
}
.main-wrapper-text p {
  margin-bottom: 0;
}
.main-wrapper-text .second {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-wrapper-image img {
  height: 40px;
}
.main-wrapper-star {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.main-wrapper-star img {
  width: 30px;
}
.main-wrapper-border {
  position: absolute;
  width: 80%;
  height: 15px;
  border-bottom: 1px solid #cecece;
  right: 0px;
  display: block;
}
.main-wrapper-content-space {
  height: 50px;
  margin-top: 25px;
}
.main-wrapper-text-pen {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}
.main-wrapper-text-pen img {
  width: 35px;
  height: 40px;
}
.main-wrapper-text-pen p {
  margin-bottom: 0;
}
.main-wrapper-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-wrapper-image .web {
  height: 30px;
}
.main-wrapper-image .pen {
  width: 35px;
  height: 35px;
}
.main-wrapper-last {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #cecece;
}
.main-wrapper-last i {
  color: #cecece;
}
.main-wrapper-delete {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper-text-design {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 100%;
  text-decoration: line-through;
}
.main-wrapper-text-design p {
  margin-bottom: 0;
}
body {
  background-color: #000;
}
.content-wrapper {
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: #fff;
}
