@import './header.styl'
@import './section.styl'

body
	background-color #000

.content-wrapper
	max-width 425px
	margin 0 auto
	display flex
	justify-content center
	flex-direction column
	height 100vh
	position relative
	background-color #fff
